<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/search.css">
        <script defer src="/js/search.js"></script>
    </head>
    <body>
        <div id="nav">
            <form action=>
                <button id='logoutButton'>LOG OUT</button>
            </form>
        </div>
        <div id="searchBar">
            <p>
                Artist Directory
            </p>
            <div>
                <form id="searchInput">
                    <input id="searchValue" type="search" name="q">
                </form>
                <button id="addArtistButton" type="button" onclick="searchQuery()">
                    Search
                </button>
                <button id="addArtistButton" type="button" onclick="toggleAddMenu()">
                    Add artist
                </button>
            </div>
        </div>
        <div id="addArtistDiv">
            <form id="/search">
                <input class="newArtistInfo" maxlength="40" placeholder="Name" type="text" name="name">
                <input class="newArtistInfo" maxlength="40" placeholder="About Artist" type="text" name="disc">
                <input class="newArtistInfo" placeholder="Image URL" type="text" name="img">
                <div>
                    <button type="button" onclick="addition()">Add</button>
                </div>
            </form>
        </div>
        <div id="directory">
            <div id="artists">
            </div>            
        </div>
    </body>
</html>